<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/css/homepage.css" rel="stylesheet">
</head>
<body>
<!-- Include header -->
<th:block th:replace="fragments/header :: header"></th:block>
<!-- Include navbar -->
<th:block th:replace="fragments/navbar :: navbar"></th:block>

<div class="container my-5">
    <div class="row">
        <div class="col-md-3 categories">
            <h1 class="mb-4">Categories</h1>
            <ul class="list-group">
                <li class="list-group-item" th:each="category : ${categories}">
                    <a th:href="@{/home(categoryId=${category.id})}" th:text="${category.categoryName}" class="text-decoration-none text-dark">Category Name</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 products">
            <h2 th:if="${selectedCategory != null}" th:text="${selectedCategory.categoryName}" class="mt-5">Category Products</h2>
            <div th:each="product : ${products}" class="product-card">
                <h3 th:text="${product.productName}">Product Name</h3>
                <p th:text="${product.description}">Description</p>
                <p><strong>Price:</strong> <span th:text="${product.price}">Price</span></p>
                <p><strong>Stock:</strong> <span th:text="${product.stockQuantity}">Stock Quantity</span></p>
                <div class="icon-buttons">
                    <a th:href="@{/product/detail(productId=${product.id})}" title="Detail"><i class="bi bi-eye"></i></a>
                    <a th:href="@{/cart/add(productId=${product.id})}" title="Add to Cart"><i class="bi bi-cart-plus"></i></a>
                    <a th:href="@{/wishlist/add(productId=${product.id})}" title="Yêu thích"><i class="bi bi-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include footer -->
<th:block th:replace="fragments/footer :: footer"></th:block>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>